@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --zoomla-clr-primary: #0e78f9;
  --zoomla-clr-primary-light: #eff6ff;
  --zoomla-clr-secondary: #ff742e;
  --zoomla-clr-light: #f2f1ff;
  --zoomla-clr-secondary-light: #ffeee5;
  --zoomla-border-clr-light: #f0f2f7;
  --zoomla-box-shadow: rgb(0 0 0 / 8%) 0px 2px 6px;
  --zoomla-box-shadow-xl: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15)) drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
  --zoomla-chat-dark-sidebar-bg: #202a42;
  --zoomla-chat-dark-sidebar-select-bg: #1d2437;
  --zoomla-chat-dark-sidebar-select-text: #fff;
  --zoomla-chat-gr-bg: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.zoomla-blur {
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
}

.zoomla-border-clr {
  border-color: var(--zoomla-border-clr-light);
}

.zoomla-shadow-xl {
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 6px;
}

.zoomla-border-clr-light {
  border-color: var(--zoomla-border-clr-light);
}

.menu-item {
  border: 1px solid transparent;
  @apply mt-2 p-4 text-center text-2xl text-[#767780] w-14 h-14 rounded-xl block transition-all relative hover:text-white before:absolute before:bottom-0 before:left-0 before:right-0 before:mx-auto before:w-0 before:h-[2px] before:transition-all;
}

.sm-menu-item {
  border: 1px solid transparent;
  @apply p-2 text-center text-xl text-[#767780] w-10 h-10 rounded-xl block transition-all relative hover:text-white before:absolute before:bottom-0 before:left-0 before:right-0 before:mx-auto before:w-0 before:h-[2px] before:transition-all;
}

.isActive {
  border-color: #2c2f3c;
  background: rgba(255, 255, 255, 0.03);
  color: #fff;
  @apply shadow-md before:w-6 before:bg-[#767780];
}

.theme-light .menu-item {
  color: #0e78f9;
}

.theme-light .isActive,
.theme-light .menu-item:hover {
  border-color: transparent;
  background: #f2f1ff;
  color: #0e78f9;
}

.theme-light .isActive:before {
  background: #0e78f9;
}

.search-icon {
  @apply absolute top-0 bottom-0 ml-2 sm:ml-4 my-auto text-xl text-[#878891];
}

.card {
  background: #0e78f9;
  border-radius: 20px;
  padding: 30px;
}

.theme-light .card {
  background: var(--zoomla-clr-primary-light);
  box-shadow: none;
}

.card:first-child {
  background: #ff742e;
}

.theme-light .card:first-child {
  background: var(--zoomla-clr-secondary-light);
  box-shadow: none;
}

.card:first-child .card-icon {
  border-color: #ff9c6b;
}

.theme-light .card:first-child .card-icon {
  border-color: var(--zoomla-clr-secondary-light);
}

.card-icon {
  width: 68px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 12px;
  background: #ffffff26;
  font-size: 36px;
  border: 1px solid #539ffa;
  color: #fff;
  padding: 15px 0;
  @apply shadow-sm;
  margin-bottom: 50px;
}

.theme-light .card-icon {
  color: var(--zoomla-clr-primary);
  background-color: #c2ddff;
  border: 1px solid var(--zoomla-clr-primary-light);
  box-shadow: none;
}

.theme-light .card:first-child .card-icon {
  color: var(--zoomla-clr-secondary);
  background-color: #ffd8c5;
  border: 1px solid var(--zoomla-clr-primary-light);
}

.card-icon svg {
  margin: auto;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.theme-light .card-title {
  color: var(--zoomla-clr-primary);
}

.theme-light .card:first-child .card-title {
  color: var(--zoomla-clr-secondary);
}

.card-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.theme-light .card-text {
  font-size: 16px;
  color: #72b2ff;
}

.theme-light .card:first-child .card-text {
  font-size: 16px;
  color: #ffa87c;
}

.schedule-list-meta li {
  position: relative;
  /* z-index: 1; */
}

.schedule-list-meta li+li::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 3px;
  width: 2px;
  height: 10px;
  @apply bg-gray-400;
}

.chat-tab>div,
.single-chat-tab>div {
  width: 100%;
}

.chat-tab .tab-title {
  @apply text-gray-500;
}

.chat-tab .absolute {
  color: #000;
  background: #232634;
}

.single-chat-tab .absolute {
  color: #000;
  background: #0e78f9;
}

.feed-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  grid-auto-flow: dense;
}

.fc-header-toolbar {
  padding: 30px 30px 0;
}

.feedCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
}

@media (max-width: 400px) {
  .card {
    padding: 16px;
  }

  .card-icon {
    margin-bottom: 20px;
  }
}

/* scrool bar design */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #13b39093;
}